<h2 mat-dialog-title>Editar alumno</h2>
<div mat-dialog-content>
    <form [formGroup]="formulario">
        <div class="row">
            <input type="text" placeholder="Nombre" formControlName="nombre">
        </div>
        <div class="row">
            <input type="text" placeholder="Apellido" formControlName="apellido">
        </div>
        <div class="row">
            <input type="text" placeholder="Curso" formControlName="curso">
        </div>
        <div class="row">
            <input type="text" placeholder="Comision" formControlName="comision">
        </div>
        <div class='row'>
            <p [appEstadoEstilo]="data.alumno.estado">{{ data.alumno.estado | booleanoATexto: 'Estado: Activo':
                'Estado: Inactivo'}}</p>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-flat-button>Editar</button>
    <button mat-button color="accent">Cerrar</button>
</div>